body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(163, 163, 163, 0.625);
}


/* estilização para o menu */
#menu {
    background-color: #050101;
    padding: 20px;
    text-align: center;
    position: relative;
    font-size: 15px;
}

#menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
    padding: 20px;
}

/* ao passar o mouse o elemento do menu mudará a cor do texto e envolta de sí */
#menu a:hover {
    color: #ff0000;
    background-color: #dcd6d643;
}


.dropdown {
    display: inline-block;
}

/* essa classe contém os elementos do menu dropdown */
.container-dropdown {
    display: none;
    position: absolute;
    background-color: #050101;
}

.container-dropdown a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

/* essa classe faz com ao passar o mouse o dropdown os elementos dentro apareçam */
.dropdown:hover .container-dropdown {
    display: block;
}

/* Conteudo */
.conteudo {
    display: flex;
    align-items: center;
    margin: 10%;
}

#imagemProduto {
border: 5px solid black;
margin-right: 30px;
height: 343px;
}

/*Descrição produto*/
#descricaoProduto {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

#descricaoProduto h2{
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 40px;
}

#descricaoProduto p{
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
}

.compra {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.compra p {
    font-size: 20px;
    font-weight: bold;
}

.btnCompra {
    margin-right: 30px;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    background-color: white;
    transition: backgroud-color 0.5 ease, color 0.5s ease, transform 0.5 ease;
}

.btnCompra:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}
